@import './_variable';

.new__expense {
  background-color: $card-background-2;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  text-align: center;

  & button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    background-color: $text-color-1;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
    border: none;
    transition: 0.2s;

    &:hover,
    &:active {
      background-color: $text-color-2;
      color: $text-color-1;
    }
  }

  & button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;

    &:hover,
    &:active {
      background-color: $card-background-1;
    }
  }
}
